[submodule "samba"]
	path = modules/samba
	url = git@github.com:pmods/samba
[submodule "tomcat7"]
	path = modules/tomcat7
	url = git@github.com:pmods/tomcat7
[submodule "jenkins"]
	path = modules/jenkins
	url = git@github.com:pmods/jenkins
[submodule "vim"]
	path = modules/vim
	url = git@github.com:pmods/vim
[submodule "javadev"]
	path = modules/javadev
	url = git@github.com:pmods/javadev
[submodule "nginx"]
	path = modules/nginx
	url = git@github.com:pmods/nginx
[submodule "sendmail"]
	path = modules/sendmail
	url = git@github.com:pmods/sendmail
[submodule "pkgng"]
	path = modules/pkgng
	url = https://github.com/xaque208/puppet-pkgng.git
[submodule "stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
